playwright==1.47.0
pydantic==2.9.2
python-dotenv==1.0.1
requests==2.32.4
fastapi==0.115.0
uvicorn==0.30.0
PyYAML==6.0.2
httpx==0.27.2
streamlit==1.37.1
pymilvus==2.6.2
openai==1.52.0
tenacity==8.4.2
streamlit-tags==1.2.8
colorlog==6.8.2
sentry-sdk[fastapi]>=2.0.0
